<!DOCTYPE html> 
<html>
  <head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Muhammad Jeelan</title>

    <!-- Bootstrap -->
   <link rel='stylesheet' href='webjars/bootstrap/3.2.0/css/bootstrap.min.css'/>
   <link rel='stylesheet' href='/static/main.css'/>
   <style>
   #topContainer {
	background-image:url('/static/sky.jpeg');
	height:400px;
	width:100%;
	background-size:cover;
	
}
.navbar-brand {
font-size:1.8em;
}
#topRow {
margin-top:100px;
text-align:center;
}
#topRow h1 {
font-size:300%;
}
#emailSignup {
margin-top:50px;
}
.bold {
font-weight:bold;
}
.marginTop {
margin-top:30px;
}
.center {
text-align:center;
}
.title {
margin-top:100px;
font-size:300%;
}
#footer {
background-color:#B0D1FB;
padding-top:70px;
width:100%;
}
.marginBottom {
margin-bottom:30px;
}
.appstoreImage {
width:250px;
}
   </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body data-spy="scroll" data-target=".navbar-collapse">
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle Navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand"> Muhammad Jeelan</a>
</div>
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="#topContainer">Home</a></li>
<li><a href="#profile">Profile</a></li>
<li><a href="#technology">Technology</a></li>
<li><a href="#feedback">FeedBack</a></li>
</ul>
<form class="navbar-form  navbar-right">
<div class="form-group">
<input type="text" placeholder="email" class="form-control"/>
</div>
<div class="form-group">
<input type="password" placeholder="password" class="form-control"/>	
</div>
<div class="form-group">
<button class="btn btn-success">Log In</button>
</div>
</form>
</div>
</div>
</div>
<div class="coantianer contentContainer marginBottom" id="topContainer">
<div class="row">
<div class="col-md-6 col-mod-offset-3" id="topRow">
<h1 class="marginTop"> Muhammad Jeelan</h1>
<p class="lead"> Welcome to Muhammad Jeelan World</p>
<p class="bold marginTop"> Passionate about learning different technologies.</p>
<form class="marginTop">
<div class="input-group ">
<span class="input-group-addon">@</span>
<input type="email" class="form-control" placeholder="Your email"/>
</div>
<input type="submit" class="btn btn-success btn-lg marginTop"/>
</form>
</div>
</div>
</div>

<div class="container contentContainer marginBottom" id="profile">

<div class="row center">
	<h1 class="center title">Full Stack Developer</h1>
</div>
</div>
<div class="container contentContainer" id="technology">
<div class="row">
<h1 class="center title">Download The App!</h1>
</div>
</div>	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
    $('#contentContainer').css("min-height",$(window).height());
    </script>
  </body>
</html>